version: 2
updates:
  - package-ecosystem: npm
    directory: /
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "05:00"
    labels:
      - dependencies
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "05:00"
    labels:
      - dependencies
