# Check out Dependabot at: https://github.com/dependabot

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "05:00"
    labels:
      - ci/cd
      - dependencies
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: monthly
    labels:
      - dependencies
