name: Lint
on:
  pull_request:
    paths:
      - "**.js"
      - "**.json"
      - "**.md"
      - "**.yml"
      - ".github/workflows/lint.yml"
      - "package-lock.json"
  push:
    paths:
      - "**.js"
      - "**.json"
      - "**.md"
      - "**.yml"
      - ".github/workflows/lint.yml"
      - "package-lock.json"

permissions: read-all

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@v1.4.1
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v3.0.0
      - name: Install Node.js
        uses: actions/setup-node@v3.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Initialize repository
        run: npm ci
      - name: Lint
        run: npm run lint
