name: Release
on:
  workflow_dispatch:
    inputs:
      update_type:
        description: Update type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

permissions: read-all

jobs:
  initiate:
    name: Initiate
    runs-on: ubuntu-22.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout repository
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Install Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version-file: .nvmrc
      - name: Create token to create Pull Request
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        id: automation-token
        with:
          app_id: ${{ secrets.AUTOMATION_ID }}
          private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Bump version
        env:
          UPDATE_TYPE: ${{ github.event.inputs.update_type }}
        run: npm version "${UPDATE_TYPE}" --no-git-tag-version
      - name: Update CHANGELOG
        run: node script/bump-changelog.mjs
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5.0.2
        with:
          token: ${{ steps.automation-token.outputs.token }}
          title: New ${{ github.event.inputs.update_type }} release for v2
          body: |
            _This Pull Request was created automatically_

            ---

            ### Merge checklist

            - [ ] All continuous integration checks passed.
            - [ ] The version number is updated in `.version`.
            - [ ] A new release is added to `CHANGELOG.md` with the correct version number and date.
            - [ ] The new version number is in accordance with the [Semantic Versioning] rules.
            - [ ] There are no other changes in the Pull Request.

            If any of the above doesn't hold, or if this is a major release, make adjustments as necessary based on the [Release Guidelines].

            ### Post-merge checklist

            _It will take a few minutes for this to happen._

            - [ ] Verify a git tag for the new release is created.
            - [ ] Verify the `v2` branch is updated.
            - [ ] Verify a GitHub release is created.

            [release guidelines]: https://github.com/ericcornelissen/git-tag-annotation-action/blob/main/RELEASE.md
            [semantic versioning]: https://semver.org/spec/v2.0.0.html
          branch: release-${{ github.event.inputs.update_type }}
          branch-suffix: random
          commit-message: Version bump
